* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 375px) {
    main.three-cards {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) and (orientation: portrait) {
        main.three-cards {
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.three-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 3px gray;
    width: 250px;
    height: 350px;
    border-radius: 5%;
    margin: 1%;
    background-image: linear-gradient(to bottom right, silver, white);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.circle-data {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 2% 4%;
}

.circle-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    margin-right: 2%;
}

.date {
    color: white;
}

.svg-header {
    margin-right: 4%;
}

img {
    height: 170px;
    object-fit: cover;

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 5%;
}

.svg-footer {
    margin: 2%;
    display: flex;
    align-items: center;
}

.svg-footer svg:first-child {
    margin-right: 3%;
}

p {
    font-size: 0.8rem;
    width: fit-content;
    block-size: fit-content;
}
